<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>myTunes Websites</title>
  </head>
  <body>
    <section class="sec-1">
      <nav>
        <div class="navigation">
          <div class="div-1">
            <h1 style="font-size: 32px">myTunes</h1>
          </div>
          <div class="div-2">
            <ul>
              <a href="#overview"><li>Overview</li></a>
              <a href="#music"><li>Music</li></a>
              <a href="#video"><li>Videos</li></a>
              <a href="#gifts"><li>Gift Cards</li></a>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    <section id="overview" class="sec-2">
      <div class="div-3">
        <h1>my Tunes</h1>
        <h2>Your music, movies, and TV shows take center stage.</h2>
        <p>
          myTunes is the best way to organize and enjoy the music, movies, and
          TV shows you already have — and shop for the ones you want. Enjoy all
          the entertainment myTunes has to offer on your Mac and PC.
        </p>
      </div>
    </section>
    <section id="music" class="sec-3">
      <div class="div-4">
        <h2>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              weight="bold"
              fill="currentColor"
              class="bi bi-music-note-beamed"
              viewBox="0 0 16 16"
            >
              <path
                d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"
              />
              <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z" />
              <path
                d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"
              />
            </svg>
          </span>
          Music
        </h2>
        <h4>
          Stream over 45 million songs, ad-free. Or download albums and tracks
          to listen to offline. All the music in your personal myTunes library —
          no matter where it came from — lives right alongside the Orange Music
          catalog. Start your free three-month trial with no commitment, and
          cancel anytime.
        </h4>
        <button>Start Your Trail Now</button>
        <p>
          Orange Music is available in myTunes, and for iOS and Android devices.
        </p>
      </div>
      <div class="div-5">
        <img
          src="./images/ipad-iphone.png"
          alt="screen"
          style="max-width: 100%; height: auto"
        />
      </div>
    </section>
    <section class="sec-4">
      <div class="div-6">
        <div class="div-7">
          <h3>The movie and TV collection you always wished for. Granted.</h3>
          <p>
            With over 100,000 movies and TV shows to choose from, there’s always
            something great to watch on myTunes and if you watch on Orange TV
            4K, you’ll be able to enjoy a tremendous selection of your favorite
            content in 4K HDR. So get ready to enjoy episodes of your favorite
            TV shows or hit movies you’ve been waiting to see — anytime,
            anywhere. Just tap to play, or even download if you’re going
            somewhere you won’t have Wi-Fi.
          </p>
          <button>Read More</button>
        </div>
        <div class="div-8">
          <img
            src="./images/mac.png"
            alt="mac"
            style="max-width: 100%; height: auto"
          />
        </div>
      </div>
    </section>
    <section id="video" class="sec-5">
      <div class="div-9">
        <h3>A world of entertainment. Available wherever you are.</h3>
        <video src="video/mov_bbb.mp4" autoplay controls></video>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
          veniam nobis, nisi ut expedita, doloribus reprehenderit explicabo non
          velit repellat alias saepe inventore repellendus? Molestias suscipit
          eos tempora? Quae quaerat cumque in veritatis impedit dolorum sapiente
          recusandae minima quo aperiam quam, excepturi quasi totam ad quas?
          Ipsam laudantium soluta delectus!
        </p>
      </div>
    </section>
    <section id="gifts" class="sec-6">
      <div class="div-10">
        <div class="div-11">
          <img src="./images/gift_card.png" alt="Gift_Cards" />
        </div>
        <div class="div-12">
          <h3>Gift Cards</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt
            cum explicabo, excepturi eaque commodi minima quas repellendus
            assumenda facere hic, earum quasi iste asperiores molestiae
            obcaecati laborum, voluptatum alias velit cupiditate! Quae soluta
            sapiente quasi, iusto quam magnam doloribus natus quod eius, rerum
            asperiores aspernatur. Illum neque sequi odit fuga.
          </p>
          <p>Already have an Orange MyTunes Music Gift Card?</p>
          <div class="div-13"></div>
          <button>Redeem</button>
        </div>
      </div>
    </section>
    <footer>
      <div class="div-14">
        <div class="div-15">
          <div class="div-16">
            <h3>Shop & Learn</h3>
            <div class="underline"></div>
            <p>Music</p>
            <p>Movies</p>
            <p>Shows</p>
            <p>Apps</p>
            <p>Gift Cards</p>
          </div>
          <div class="div-17">
            <h3>Orange Store</h3>
            <div class="underline"></div>
            <p>Find a Store</p>
            <p>Today at Orange</p>
            <p>Financing</p>
            <p>Orange Camp</p>
            <p>Order Status</p>
          </div>
          <div class="div-18">
            <h3>Education & Business</h3>
            <div class="underline"></div>
            <p>Orange & Education</p>
            <p>Shop for college</p>
            <p>Orange & Business</p>
            <p>Shop for Business</p>
            <p>Jobs</p>
          </div>
          <div class="div-19">
            <h3>About Orange</h3>
            <div class="underline"></div>
            <p>Newsroom</p>
            <p>Orange Leadership</p>
            <p>Investors</p>
            <p>Events</p>
            <p>Contact Orange</p>
          </div>
        </div>
      </div>
      <div class="div-20">Copyright © 2022 Do Some Coding</div>
    </footer>
  </body>
</html>
